header, section, footer, aside, nav, article, figure {
	display: block;
}

* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

body {
	background-color: #BBB;
	font-size: 100%;
	font-family: Arial, Helvetica;
	color: #444;
}

h1{
    font-family: arial;
    font-size: 1.3em;
    text-align: center;
    color: #464d52;
}

#superior{
    width 100%;
    padding: 2% 0;
    background-color: #464d52;
}
#descripcion{
    height: 401px;
    
}
#descripcion #imgDec{
    box-shadow: 0 0 10px rgba(0,0,0,05)
}
.inicio, .pedidos, .galeria{
    color: #000;
}
.boton{
    background: #464d52;
    padding: 7px;
    border-radius: 5px;
    color: white;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.boton:hover{
    background: #5077c7;

}
.boton:active{
    color:1b435e;
    
}
.boton a{
    color: #fff;
    text-decoration: none;
}
